.imgDetail{
    width: 22vw;
    border: 5px solid white;
    /* padding-top: ; */
    height: 56vh;
    margin-right: 23px;
    /* position: fixed; */
}
.images-wrap{
    width: 150px;
}
.bodyOfDetail{
    margin-left: 5%;
    margin-top: 8%;
    /* display: flex; */
    height: auto;
    /* overflow-y: hidden; */
}
/* body{
    overflow-y: hidden;

} */
.genres{
    display: grid;
    margin: 0;
}
.genres p{
    margin: 0;
}
.bodyOfDetail h3{
    font-size: 34px;
    margin: 0;
}
.info{
    color: white;
    margin-left: 29px;
}
.swiper-slide{
    width: 166% !important;
}
.swiper{
    padding-top: 50px;
    padding-bottom: 80px;
    width: 130vw;
    height: 42vh;
}
.swiper .swiper-wrapper{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 281px;
    -webkit-box-reflect: below 1px linear-gradient(
        transparent,transparent,#0006
    );
}



  /* .splide__slide {
    opacity: 0.3;
  }
  
  .splide__slide.is-active {
    opacity: 1;
  } */
@media only screen and (max-width: 1024px){
.bodyOfDetail{
    height:89.5vh;
}
}
@media only screen and (max-width:768px){
.bodyOfDetail{
    height:92vh;
}
}
@media only screen and (max-width: 450px){
    .bodyOfDetail{
        height: 95.5vh;
        /* margin-top: 12px; */
        display: flex;
        flex-direction: column;
        overflow-x:hidden;
    }
    .info{
        width: 100vw;
        margin-left: 0;
    }
    .imgDetail{
        height: 50vh;
        width: 45vw;

    }
}
@media only screen and (max-width:375px){
    .bodyOfDetail{
        height:96.5vh;
    }
    }